.divcv {
  padding: 30px 10px;
}

.cvphoto {
  width: 70%;
  max-height: 70%;
}

.filaarriba {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
}

.infocontacto {
  margin: 10px 0;
}

.linkscontacto {
  margin: 10px 20px 10px 0;
  float: right;
  text-align: right;
}

h5 {
  margin: 10px auto;
}

.tituloadicional {
  margin: 80px 0 20px 0;
  color: #fbfbff !important;
}

.filaabajo {
  margin-bottom: 50px;
  padding-left: 20px;
}

.cvtext {
  font-family: "Public Sans", sans-serif;
}

.titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #197278;
}

.textoCurso {
  margin: 0 15px !important;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
}

.blackText {
  color: black;
}

.whiteText {
  color: #fbfbff !important;
}

.cvrow {
  margin: 0;
  padding: 0;
}

hr {
  margin: 26.5px 0;
}
