.divcv {
  padding: 30px 10px;
}

.cvphoto {
  width: 70%;
  max-height: 70%;
}

.filaarriba {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
}

.infocontacto {
  margin: 10px 0;
}

.linkscontacto {
  margin: 10px 20px 10px 0;
  float: right;
  text-align: right;
}

h4.titulo,
h5.titulo {
  margin: 0 !important;
}

.tituloadicional {
  margin: 80px 0 20px 0;
  color: #fbfbff !important;
}

.filaabajo {
  margin-bottom: 30px;
}

.cvtext {
  font-family: "Lora", serif;
}

.titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #197278;
}

.textoCurso {
  margin: 0 15px !important;
  font-family: "Lora", serif;
  font-weight: 100;
}

.blackText {
  color: black;
}

.whiteText {
  color: #fbfbff !important;
}

.cvrow {
  margin: 0;
  padding: 0;
}

hr {
  margin: 26.5px 0;
}

.titulo {
  text-align: center;
}

.workTitle {
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  justify-content: space-between;
}

.tituloGrande {
  margin-bottom: 15px;
}

.divCurso {
  margin-bottom: 10px;
}

h6 {
  margin: 0;
}
